@import '../../styles/var.scss';

.pp-badge {
  padding: 4px 12px;
  color: $white;
  border-radius: 40px;
  font-size: $font-size-sm;
  line-height: 1.5;
  display: inline-block;
  font-family: 'Hiragino sans';
  font-weight: 700;

  &.success {
    background-color: $status-success;
  }

  &.pending {
    background-color: $status-pending;
  }

  &.failed {
    background-color: $status-failed;
  }
}
