@import '../../styles/var.scss';

.pp-card {
  background-color: $white;
  border-radius: $border-radius-base;
  box-shadow: $shadow-base;
  padding: $rhythm-double;
  style : { 
    border: '1px solid #ddd';
    margin: '20px';
    padding: '10px';
    position: 'relative' 
  }
}

.card-image {
  height: 100%;
  width: 100%;
  padding-top: 15%;
}
